:root {
  --black: #222;
  --pink-bkg: #f1e4e6;
  --pink-color: #f09ba7;
  --gray-color: #5d5d5d;
  --white-color: #fbfbfb;
}

label,
input {
  display: block;
}

ul {
  list-style: none;
}

body {
  font-family: "lato";
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  width: 1140px;
  margin: 0 auto;
  /*border: 1px solid green;*/
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.header {
  background-color: var(--black);
  min-height: 75px;
  display: flex;
  align-items: center;
}

.header__link-reg {
  text-decoration: none;
  margin: 0 0 0 33px;
}

.header__link-basket {
  text-decoration: none;
  margin: 0 0 0 33px;
}

.header__wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-form-wrp {
  display: flex;
  align-items: center;
}

.header__search {
  display: flex;
  margin: 0 0 0 41px;
}

.header__search-form {
  margin: 0 0 0 5px;
  height: 40px;
}

.header__search-img {
  align-self: center;
}

.header__menu-btn {
  border: none;
  background-color: transparent;
}

.header__search-btn {
  background: transparent;
  border: none;
}

.products__button:hover {
  color: red;
}

.white-icon {
  fill: azure;
}

.header__nav {
  display: none;
}

/*-------Затемнение Brand---------*/

.brand__overlay {
  position: relative;
  display: flex;
  min-width: 100%;
}

.brand__overlay:before {
  content: "";
  width: 100%;
  height: 100%;
  min-height: 260px;
  background: #211616;
  position: absolute;
  top: 0;
  display: none;
  opacity: 70%;
}

.brand:hover .brand__overlay:before {
  display: block;
}

/*----------------*/

.brand {
  display: flex;
}

.brand__title-wrp {
  flex-grow: 1;
  background-color: var(--pink-bkg);
  display: flex;
  align-items: center;
  padding: 0 0 0 92px;
}

.brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
  position: relative;
}

.brand__title::before {
  content: "";
  background-color: var(--pink-color);
  position: absolute;
  width: 12px;
  height: 92px;
  left: -16px;
}

.brand__subtitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  display: block;
}

.brand__subtitle-pink {
  color: var(--pink-color);
}

.sales__item {
  width: 360px;
  min-height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*border: 1px solid gold;*/
  flex-direction: column;
}

.sales__list {
  margin: 64px 0 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sales__item--women {
  background-image: url(../img/for-women.jpg);
}

.sales__item--men {
  background-image: url(../img/for-men.jpg);
}

.sales__item--kids {
  background-image: url(../img/for-kids.jpg);
}

.sales__item--shoes {
  width: 100%;
  margin: 30px 0 0 0;
  background-image: url(../img/acces.jpg);
  background-repeat: no-repeat;
}

.sales__item-title {
  color: #fff;
  text-transform: uppercase;
}

.sales__item-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
  color: var(--pink-color);
}

.sales__item-text--shoes {
  padding: 0 0 56px 0;
}

/*-------Затемнение Sales---------*/

.sales__cart-overlay {
  position: relative;
}

.sales__cart-shoes-overlay {
  position: relative;
}

.sales__cart-overlay:before {
  content: "";
  width: 100%;
  min-height: 260px;
  background: #211616;
  position: absolute;
  top: 0;
  display: none;
  opacity: 70%;
}

.sales__cart:hover .sales__cart-overlay:before {
  display: block;
}

.sales__cart-shoes {
  width: 100%;
}

.sales__cart-shoes-overlay:before {
  content: "";
  width: 100%;
  min-height: 180px;
  background: #211616;
  position: absolute;
  top: 0;
  display: none;
  opacity: 70%;
}

.sales__cart-shoes:hover .sales__cart-shoes-overlay:before {
  display: block;
}

.sales__cart-shoes:hover .shoes__text {
  display: block;
}

/*----------------*/

.products {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.products__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.products__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin: 0 0 18px 0;
  color: var(--gray-color);
}

.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products__item {
  width: 360px;
  background-color: #f8f8f8;
  margin: 30px 0 0 0;
  position: relative;
}

/*Затемнение Products--------*/

.products__item-wrapper {
  position: relative;
}

.overlay {
  width: 100%;
  height: 420px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
}

.overlay,
.products__button {
  display: none;
}

.products__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: #fff;
  padding: 13px 13px;
  border: none;
}

.products__button-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  align-self: center;
  padding: 0 0 0 11px;
  text-decoration: none;
}

.products__item:hover .products__button {
  display: flex;
  border: 1px solid;
}

.products__item:hover .overlay {
  display: block;
}

/*---------------------------------*/

.products__item-img {
  margin: 0 0 25px 0;
}

.products__item-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  padding: 0 0 0 18px;
  text-transform: uppercase;
}

.products__item-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  padding: 13px 28px 18px 18px;
  color: var(--gray-color);
}

.products__item-price {
  padding: 0 0 20px 18px;
  color: var(--pink-color);
}

.products__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-decoration: none;
  color: var(--pink-color);
  border: 1px solid;
  padding: 14px 40px 14px 40px;
  margin: 63px 0 0 0;
}

.products__link:hover {
  background-color: var(--pink-color);
  color: var(--white-color);
}

.products__link:active {
  outline: 2px solid azure;
}

.service {
  margin: 95px 0 0 0;
  background-color: var(--black);
  min-height: 341px;
  display: flex;
  align-items: center;
}

.service__list {
  display: flex;
  justify-content: space-between;
}

.service__item {
  width: 360px;
}

.service__item-img {
  display: flex;
  margin: 0 auto;
}

.service__item-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 28px 0 0 0;
  color: var(--white-color);
  text-align: center;
}

.service__item-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  padding: 28px 0 0 0;
  color: var(--white-color);
  padding: 16px 0 0 0;
  text-align: center;
}

.footer {
  background-image: url(../img/footer-bkg.jpg);
  height: 448px;
  width: 100%;
  background-repeat: no-repeat;
}

.footer__img {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 86px 0 0 0;
}

.footer__wrp {
  display: flex;
  justify-content: space-between;
}

.footer__img-person {
  border-radius: 50%;
}

blockquote {
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 53px 0 0 0;
}

form {
  display: flex;
}

.footer__form {
  padding: 150px 80px 0 0;
}

.footer__form-text {
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
}

.footer__form-subtext {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
}

.footer__form-input {
  border-radius: 200px 0px 0px 200px;
  background-color: #e1e1e1;
  height: 49px;
  width: 322px;
  padding: 0 0 0 22px;
  border: none;
  margin: 32px 0 0 0;
}

.footer__form-btn {
  border-radius: 0px 200px 200px 0px;
  background-color: var(--pink-color);
  color: #fff;
  width: 100px;
  height: 49px;
  border: none;
  margin: 32px 0 0 0;
}

.footer__form-btn:hover {
  background-color: var(--gray-color);
}

.footer__social {
  background-color: var(--black);
  height: 80px;
  margin: 126px auto;
}

.footer__social-wrp {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.footer__social-brand {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  align-self: center;
}

.footer__social-list {
  display: flex;
  align-self: center;
}

.footer__social-item {
  padding: 0 7px 0 0;
}

.footer__social-item {
  background-color: transparent;
}

.footer__social-item:hover .footer__social-icon {
  fill: var(--pink-color);
}

.footer__social-icon {
  fill: var(--white-color);
}

/*Registration*/

.reg {
  height: 148px;
  background-color: #f8f3f4;
  display: flex;
}

.reg__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: var(--pink-color);
  text-transform: uppercase;
  align-self: center;
}

.field {
  display: flex;
  justify-content: space-between;
  padding: 64px 0 0 0;
}

.field__title {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  padding: 0 0 0 0;
}

.field__input {
  min-width: 360px;
  height: 45px;
  padding: 0 0 0 16px;
  margin: 20px 125px 0 0;
  opacity: 0.7;
}

.field__radio {
  display: flex;
  padding: 34px 0 34px 0;
}

.field__form {
  display: block;
}

.field__radio-label {
  padding: 0 20px 0 0;
}

.field__text {
  max-width: 360px;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  margin: 15px 0 39px 0;
  color: #b1b1b1;
}

.field__btn {
  width: 167px;
  height: 50px;
  margin: 0 0 96px 0;
  background-color: var(--pink-color);
  color: var(--white-color);
  text-transform: uppercase;
  border: none;
}

.field__btn::after {
  content: "\2192";
  font-size: 20px;
  padding: 0 0 0 20px;
}

.field__btn:hover {
  background-color: var(--gray-color);
}

.field__item {
  position: relative;
  padding: 0 0 27px 25px;
  font-size: 24px;
  font-weight: 300;
}

.field__item::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url(../img/chek.svg);
  background-size: 16px 16px;
  left: -20px;
}

.field__list-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-transform: uppercase;
}

.field__list-subtitle {
  max-width: 720px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  padding: 22px 0 27px 0;
}

.field__list {
  margin: 0 0 0 15px;
}

/*----------hover,active,focus----------*/

.products__button:hover .white-icon,
.header__search-btn:hover .white-icon,
.header__search-btn:hover .white-icon,
.header__menu-btn:hover .white-icon,
.header__link-reg:hover .white-icon,
.header__link-basket:hover .white-icon {
  fill: red;
}

.footer__social-icon:active,
.products__link:active,
.products__button:active,
.header__search-btn:active,
.header__menu-btn:active,
.header__link-reg:active,
.header__link-basket:active {
  outline: 1px solid azure;
}

[type="email"] {
  display: block;
  box-sizing: border-box;
}

[type="field-email"],
[type="last-name"],
[type="first-name"],
[type="password"] {
  display: block;
  outline: 1px solid;
  background: transparent;
  box-sizing: border-box;
  border: none;
  opacity: 0.5;
}

[type="search"]:hover,
[type="search"]:focus,
[type="field-email"]:hover,
[type="field-email"]:focus,
[type="last-name"]:hover,
[type="last-name"]:focus,
[type="first-name"]:hover,
[type="first-name"]:focus,
[type="password"]:hover,
[type="password"]:focus,
[type="email"]:hover,
[type="email"]:focus {
  outline: 0.5px solid red;
}
